<h1>prop-binding works!</h1>
<p>Property binding in angular</p>
<p>We need to learn about the difference between</p>
<p>HTML element and a DOM property</p>
<p>Now lets consider an input element</p>
<input name="name" type="text" value="Usman" />
<p>Attributes and properties are not same</p>
<p> Attributes are initialized in HTML</p>
<p>While properties are DOM properties</p>
<p>Attributes init DOM properties and they cannot be changed</p>
<p>Property values can change</p>
<p>We actually bind our data/variables to DOM property not the html attributes</p>
<p> it may seem like we are changing the value of value attribute</p>
<p>but that is not the case</p>
<p>If we want to bind a variable to an element to render dynamic data</p>
<p>We use the following syntax</p>
<p>['attribute property']="value"</p>