<!-- <h1>NG for directive</h1>

<ul>
    <li *ngFor="let course of courses; index as i; even as isEven">
   <span>{{i}}-</span> {{course.name}} <span *ngIf="isEven">Even</span>
    </li>
</ul>

<h1>NG for Change</h1>

<button (click)="addCourse()">Add</button>

<ul>
    <li *ngFor="let course of courses; index as i; even as isEven">
   <span>{{i}}-</span> {{course.name}} 
   <button (click)="removeCourse(course.name)">Remove</button>
    </li>
</ul> -->

<h1>NG for TrackBy</h1>
<p>Handling rerender for repeated data optimization</p>

<button (click)="loadCourses()">Load Courses</button>
<button (click)="addCourse()" *ngIf="courses.length > 0">Add</button>

<ul>
    <li *ngFor="let course of courses; trackBy: trackCourse">
        <span>{{i}}-</span> {{course.name}} 
        <button (click)="removeCourse(course.name)">Remove</button>
    </li>
</ul>