<!-- <app-header></app-header> -->
<!-- <h1>{{title}}</h1> -->
<!-- <app-prop-binding></app-prop-binding> -->
<!-- <app-course></app-course> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-course-form></app-course-form>
<app-author-form></app-author-form>
<app-data-binding></app-data-binding>
<app-attr-binding></app-attr-binding>
<app-class-binding></app-class-binding>
<app-style-binding></app-style-binding>
<app-event-binding></app-event-binding>
<app-event-filtering></app-event-filtering> -->
<app-two-way-binding></app-two-way-binding>
<app-pipe></app-pipe>