<!-- <app-header></app-header> -->
<!-- <h1>{{title}}</h1> -->
<!-- <app-prop-binding></app-prop-binding> -->
<!-- <app-course></app-course> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-course-form></app-course-form>
<app-author-form></app-author-form>
<app-data-binding></app-data-binding>
<app-attr-binding></app-attr-binding>
<app-class-binding></app-class-binding>
<app-style-binding></app-style-binding>
<app-event-binding></app-event-binding>
<app-event-filtering></app-event-filtering> -->
<!-- <app-two-way-binding></app-two-way-binding>
<app-pipe></app-pipe>
<app-custom-pipe></app-custom-pipe> -->
<!-- <app-exercise-icons></app-exercise-icons>
<app-reusable-component [is-liked]="isLiked" (component-clicked)="onComponentChange($event)"></app-reusable-component>
<app-ng-content>
    <div class="heading">Heading</div>
    <div class="body">
        <h1>Body</h1>
    </div>
</app-ng-content>

<app-ng-container>
    <ng-container class="new-container"> Hello </ng-container>
    <ng-container class="sibling-container"> World </ng-container>
</app-ng-container> -->


<!-- <app-exercise-component [is-liked]="tweet.isLiked" [like-count]="tweet.likeCount"></app-exercise-component> -->

<!-- <app-directive-ngif></app-directive-ngif> -->

<!-- <app-directive-ngswitch></app-directive-ngswitch> -->


<app-directive-ngfor></app-directive-ngfor>