<h1>Attr Binding</h1>
<p>
    HTML attributes are different form properties in DOM object. When we bind data with html in Angular we are acutally
    targetting DOM object to access that attribut and most of the time both dom and html has that property by the same
    name,
    however when these properties are different bind data with that attribute we use attr.["html attribute"] we have
    targeted
</p>
<table>
    <tr>
        <td [attr.colspan]='colSpan'>
            This is a table.
        </td>
    </tr>
</table>